<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for fic in fic_list %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ loop.index }}. {{ fic.title }} <small>by {{ fic.author.name }}</small>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% include 'fic.html' %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>