{% extends "layout.html" %}
{% block body %}
	<script type=text/javascript>
		$(document).keydown(function(e) {
      // TODO: Add some type of down/up ability with the keyboard (WHEN NOT FOCUSED ON AUTOCOMPLETE)
		  //   if(e.which == 40) {
		  //   	e.preventDefault()
		  //   	if ($(".fic_li.active").nextAll("li").length !== 0) {
		  //   		$(".fic_li.active").removeClass('active').nextAll("li:first").addClass('active');
		  //   	}
		  //   	if ($(".fic_li.active").length !== 0) {
			 //    	$('html, body').stop(true, true).animate({
	   //      			scrollTop: $(".fic_li.active").offset().top - 50
	   //  			}, 1000);
				// }
		  //   }
		  //   if(e.which == 38) {

		  //   }
		});

	</script>
  {% include 'fic_filters.html' %}
	{% include 'pagination.html' %}
  <hr>
  <ul class=ficlist>
  {% for fic in fics.items %}
  	{% with %}
  	{% set first = loop.first %}
    {% include "fic.html" %}
    {% endwith %}
    <hr>
  {% endfor %}
  </ul>
  {% include 'pagination.html' %}
  <script src="{{ url_for('static', filename='scripts/show_fics.js') }}"></script>
  <script type=text/javascript>
    setupFilterAutocomplete("{{ user.id if g.user.is_authenticated() else '' }}");
  </script>
  <script type=text/javascript>
  $('#favorite_query').bind('click', function(e) {
    console.log('hey', "{{ request.query_string }}")
    $.getJSON($SCRIPT_ROOT + '/_save_filter', {query: "{{ request.query_string }}", name: $("#filter_name").val()}, function(data) {
       console.log(data)
       filters.clearPrefetchCache();
       filters.initialize();
    });
    e.preventDefault()
  });
  </script>
{% endblock %}
